
{% extends 'base.html' %}

<script>
    $(document).ready(function(){
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
  });
}, 5000);
</script>

{% block body %}
<div class="container">
  <div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class = 'alert alert-dismissible alert-success' role = 'alert'>
      <button onclick="window.location.href = '/home/dashboard';" type="button" class="close" data-dismiss="alert" aria-label="Close">

    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <br><br><br>
  {% if user_complete %}
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome, {{ name }}!</h1>
      <p class="lead">To begin generating recipes, click the blue "Generate New Weekly Menu" button below.</p>
      <hr class="my-4">
      <p class="lead">You will have the opportunity to deselect recipes so that we can learn more about what you like and dislike.
        After deselecting any recipes, you can generate a grocery list for each week automatically! If you would like to see your
        past recipe generations, click the grey "Generate Past Recipes" button. </p>
      <br>
      <p class="lead">
        <button type="submit" class="btn btn-primary" onclick="window.location.href = '/home/dashboard/meals';">Generate New Weekly Menu</button>
        <button type="submit" class="btn btn-secondary" onclick="window.location.href = '/home/dashboard/past_recipes';">Generate Past Recipes</button>

      </p>
    </div>


  {% else %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Additional Information</h1>
      <p class="lead">
        Before you can begin generating recipes, please fill out the following information to give
        us a better idea of the types of meals you like! Your account will not be complete until
        you submit this form. This information can be changed at anytime when you are logged into your account. </p>
    <br>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'user_signup/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" onclick="href = '/home/dashboard';">Submit</button>
            </div>
        </div>
    </form>

  {% endif %}



</div>
{% endblock %}
