
{% extends 'base.html' %}

<script>
    $(document).ready(function(){
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
  });
}, 5000);


</script>

{% block body %}
<div class="container">
  <div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class = 'alert alert-dismissible alert-success' role = 'alert'>
      <button onclick="window.location.href = '/home/dashboard';" type="button" class="close" data-dismiss="alert" aria-label="Close">

    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <br><br><br>
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome, {{ user }}!</h1>
    <p class="lead">To begin generating recipes, click the button below.</p>
    <hr class="my-4">
    <p>You will have the opportunity to deselect recipes so that we can learn more about what you like and dislike. After deselecting any recipes, you can generate a grocery list for each week automatically!</p>
    <br>
    <p class="lead">
      <button type="submit" class="btn btn-primary" onclick="window.location.href = '/home/dashboard/meals';">Generate New Weekly Menu</button>
    </p>
  </div>


</div>
{% endblock %}
