
        {% extends 'base.html' %}

        {% block body %}
        <html>
        <head>
        <title>meals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Your Weekly Meals, {{ user }}!</h1>
              <p class="lead text-muted">Your weekly meals have been generated below! You now have the option of either automatically generating your weekly grocery list based on the below recipes by pressing "Generate Grocery List", or you can press "Deselect Recipe" button if you want a new recipe. After deselecting a recipe, a short form will pop up so that you can let us know why you deselected it, we will refrain from showing you this recipe again based on your response.</p>
            <button type="button" value='Download' onclick="window.location.href = '/home/dashboard/meals/download/';" class='btn btn-primary btn-lg' > Generate Grocery List</button><br>
            </div>
          </section>

        <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
        
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Classic and Simple Meat Lasagna, Day 1 </h5>

            <p class="card-text">8 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/218091/classic-and-simple-meat-lasagna/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=218091' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Garlicky Appetizer Shrimp Scampi, Day 2 </h5>

            <p class="card-text">6 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/16679/garlicky-appetizer-shrimp-scampi/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=16679' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Parmesan-Crusted Shrimp Scampi with Pasta, Day 3 </h5>

            <p class="card-text">6 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/273326/parmesan-crusted-shrimp-scampi-with-pasta/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=273326' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Basic Crepes, Day 4 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/16383/basic-crepes/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=16383' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Annie's Fruit Salsa and Cinnamon Chips, Day 5 </h5>

            <p class="card-text">10 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/26692/annies-fruit-salsa-and-cinnamon-chips/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=26692' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Actually Delicious Turkey Burgers, Day 6 </h5>

            <p class="card-text">12 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/39748/actually-delicious-turkey-burgers/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=39748' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src= alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Artichoke & Spinach Dip Restaurant Style, Day 7 </h5>

            <p class="card-text">12 Servings</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
              <p>
                <a href=https://www.allrecipes.com/recipe/33474/artichoke-spinach-dip-restaurant-style/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=33474' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            

        </div>
        </div>
        </body>
        </html>
        {% endblock %}
        