
        {% extends 'base.html' %}

        {% block body %}
        <html>
        <head>
        <title>meals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>
        
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Your Weekly Meals, {{ user }}!</h1>
              <p class="lead text-muted"> Your weekly meals have been generated below!         You now have the option of either automatically generating your weekly grocery         list based on the below recipes by pressing "Generate Grocery List", or you can press "Deselect Recipe"         button if you want a new recipe. After deselecting a recipe, a short form will pop up so that         you can let us know why you deselected it, we will refrain from showing you this recipe again based on your response.        If you would like to deselect all 7 recipes, refresh the page. </p>
            <button type="button" value='Download' onclick="window.location.href = '/home/dashboard/meals/download/';" class='btn btn-primary btn-lg' > Generate Grocery List</button><br>
            </div>
          </section>

        <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
        
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/6119548.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>PAM's Spicy Slow Cooker Chicken Tortilla Soup, Day 1 </h5>

            <p class="card-text">6 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/244684/pams-spicy-slow-cooker-chicken-tortilla-soup/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=244684' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/250x250/221398.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Blue Cheese, Avocado, and Grape Salad, Day 2 </h5>

            <p class="card-text">2 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/141082/blue-cheese-avocado-and-grape-salad/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=141082' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/250x250/991162.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Zucchini Wrapped in Tortillas, Day 3 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/14017/zucchini-wrapped-in-tortillas/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=14017' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/3993123.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Cream Cheese Basil Summer Squash, Day 4 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/39460/cream-cheese-basil-summer-squash/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=39460' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/250x250/101943.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Sun Dried Tomato and Pine Nut Stuffed Beef Tenderloin, Day 5 </h5>

            <p class="card-text">8 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/67147/sun-dried-tomato-and-pine-nut-stuffed-beef-tenderloin/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=67147' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/5349410.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Balsamic-Glazed Brussels Sprouts, Day 6 </h5>

            <p class="card-text">6 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/240204/balsamic-glazed-brussels-sprouts/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=240204' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/3306001.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>The Best Clam Sauce, Day 7 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/18148/the-best-clam-sauce/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=18148' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            

        </div>
        </div>
        </body>
        </html>
        {% endblock %}
        