
        {% extends 'base.html' %}

        {% block body %}
        <html>
        <head>
        <title>meals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>
        
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Your Weekly Meals, {{ user }}!</h1>
              <p class="lead text-muted"> Your weekly meals have been generated below!         You now have the option of either automatically generating your weekly grocery         list based on the below recipes by pressing "Generate Grocery List", or you can press "Deselect Recipe"         button if you want a new recipe. After deselecting a recipe, a short form will pop up so that         you can let us know why you deselected it, we will refrain from showing you this recipe again based on your response.        If you would like to deselect all 7 recipes, refresh the page. Save the ingredients to your computer by        selecting "Generate Grocery List"; you can find an estimated price for your groceries that week at the        bottom of the text file. Enjoy! </p>
            <button type="button" value='Download' onclick="window.location.href = '/home/dashboard/meals/download/';" class='btn btn-primary btn-lg' > Generate Grocery List</button><br>
            </div>
          </section>

        <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
        
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/5748066.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Marrakesh Vegetable Curry, Day 1 </h5>

            <p class="card-text">6 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/13988/marrakesh-vegetable-curry/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=13988' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/2432.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Mesclun and Mango Salad with Ginger Carrot Dressing, Day 2 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/34608/mesclun-and-mango-salad-with-ginger-carrot-dressing/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=34608' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/469107.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Quick Black Beans and Rice, Day 3 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/13999/quick-black-beans-and-rice/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=13999' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/69585.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Mild Coconut Tofu Curry, Day 4 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/48339/mild-coconut-tofu-curry/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=48339' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/3822935.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Mint Pesto Pasta, Day 5 </h5>

            <p class="card-text">8 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/83942/mint-pesto-pasta/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=83942' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/7023477.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Grilled Romaine Salad, Day 6 </h5>

            <p class="card-text">8 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/24867/grilled-romaine-salad/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=24867' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/1148884.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Wicked Good Veggie Chili, Day 7 </h5>

            <p class="card-text">8 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/80803/wicked-good-veggie-chili/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/deselect?name=80803' class='btn btn-dark' data-toggle='modal' data-target='#myModal'>Deselect Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            

        </div>
        </div>
        </body>
        </html>
        {% endblock %}
        