{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
      <div class = 'alert alert-dismissible alert-success' role = 'alert'>
      <button onclick="window.location.href = 'login/new_user/user_info/';" type="button" class="close" data-dismiss="alert" aria-label="Close">

      <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
      </div>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  <h1>Please sign in to get started!</h1>
  <p>
    You can log in here!
  </p>
  <h2>Log in</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit' class='btn btn-primary btn-lg' onclick="window.location.href ='/home/login/new_user/user_info';">Login</button>
  </form>
</div>
<br>
<div class="card-footer">
  <div class="d-flex justify-content-center links">
    Don't have an account? <a href="new_user">&nbspSign Up</a>
  </div>
  <div class="d-flex justify-content-center">
    <a href="#">Forgot your password?</a>
  </div>
</div>



{% endblock %}
