{% extends 'base.html' %}

{% block body %}
<br>
<div class="container">
  <form action="/newaccount" method=post
        oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
    <p>
    <label for="username">Username:</label>
    <input id="username" type=username required name=un>
    <p>
    <label for="password1">Password:</label>
    <input id="password1" type=password required name=up>
    <p>
    <label for="password2">Confirm password:</label>
    <input id="password2" type=password name=up2>
    <p>
    <input type=submit value="Create account">
  </form>
</div>
{% endblock %}
