
        {% extends 'base.html' %}

        {% block body %}
        <html>
        <head>
        <title>meals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>
        
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Your Past Meals, {{ user }}!</h1>
              <p class="lead text-muted"> Your past meals have been generated. Select generate grocery list to regenerate your grocery list from last week.        If you would like to rate a recipe from last week to help us better learn what you like, please click "Rate Recipe" below the recipe. </p>
            <button type="button" value='Download' onclick="window.location.href = '/home/dashboard/meals/download/';" class='btn btn-primary btn-lg' > Generate Grocery List</button><br>
            </div>
          </section>

        <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
        
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/1040534.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Baked Corn on the Cob, Day 1 </h5>

            <p class="card-text">2 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/233825/baked-corn-on-the-cob/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=233825' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/620252.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Chicken and Red Bell Pepper Salad Sandwiches, Day 2 </h5>

            <p class="card-text">2 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/179911/chicken-and-red-bell-pepper-salad-sandwiches/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=179911' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/4429018.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Thai Charred Eggplant with Tofu, Day 3 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/21745/thai-charred-eggplant-with-tofu/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=21745' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/250x250/89160.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Easy Vegan Whole Grain Pancakes, Day 4 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/59853/easy-vegan-whole-grain-pancakes/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=59853' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/250x250/415245.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Caramelized Onion and Blue Cheese Orzo, Day 5 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/20708/caramelized-onion-and-blue-cheese-orzo/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=20708' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/2451266.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>Turkish Chicken Kebabs, Day 6 </h5>

            <p class="card-text">4 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/244632/turkish-chicken-kebabs/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=244632' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            
            <div class="card-deck">

            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src=https://images.media-allrecipes.com/userphotos/560x315/752861.jpg alt="Card image cap">
            <div class="card-body">
            <h5 class='card-title'>'Secret' Salad Dressing, Day 7 </h5>

            <p class="card-text">16 Servings</p>
            </div>
              <p class="align-items-center">
                <a href=https://www.allrecipes.com/recipe/161744/secret-salad-dressing/ class="card-link">Link to recipe</a>
                <br>
              </p>
            <button href='/home/rating?name=161744' class='btn btn-success' data-toggle='modal' data-target='#myModal'>Rate Recipe</button>
                <br>
            </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Please share why you are deselecting this recipe.</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        {% for field in form %}
                              <label>{{ field.label_tag }}</label>
                              <div class="col">{{ field }}</div>
                        {% endfor %}
                        </div>
                      <br><br>
                      <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    </form>
                  </div>

              </div>
              </div>
            </div>

            <br><br><br>

            

        </div>
        </div>
        </body>
        </html>
        {% endblock %}
        