
        {% extends 'base.html' %}

        {% block body %}
        <html>
        <head>
        <title>meals</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
        <body>
        
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Your Past Meals, {{ user }}!</h1>
              <p class="lead text-muted"> Your past meals have been generated. Select generate grocery list to regenerate your grocery list from last week.        If you would like to rate a recipe from last week to help us better learn what you like, please click "Rate Recipe" below the recipe. </p>
            <button type="button" value='Download' onclick="window.location.href = '/home/dashboard/meals/download/';" class='btn btn-primary btn-lg' > Generate Grocery List</button><br>
            </div>
          </section>

        <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
        

        </div>
        </div>
        </body>
        </html>
        {% endblock %}
        