{% extends 'base.html' %}

{% block body %}
<br>
<br>
<div class="container">
  <div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class = 'alert alert-dismissible alert-success' role = 'alert'>
      <button onclick="window.location.href = '/home/login';" type="button" class="close" data-dismiss="alert" aria-label="Close">

    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <h1>Welcome</h1>
  <p>
    You can log in here!
  </p>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<br>
<div class="card-footer">
  <div class="d-flex justify-content-center links">
    Don't have an account? <a href="new_user">&nbspSign Up</a>
  </div>
  <div class="d-flex justify-content-center">
    <a href="#">Forgot your password?</a>
  </div>
</div>



{% endblock %}
