{% extends 'base.html' %}



{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}

<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Change Your Preferences</h1>
    <p class="lead">If any of your information has changed, feel free to fill out the form again
    to update your information!</p>
  </div>
  <br>

  {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'user_signup/form-template.html' %}
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" onclick="href = '/home/dashboard';">Update</button>
          </div>
      </div>
  </form>

  </div>

  {% endblock %}
