.jolly {
	display: inline-block;
	color: #444444;
	fill: currentColor;
	background-color: ;
}
.hdg-mobile {
	width: 128px;
	height: 128px;
}
.hdg-printer {
	width: 128px;
	height: 128px;
}
.hdg-map-route {
	width: 128px;
	height: 128px;
}
.hdg-pin {
	width: 128px;
	height: 128px;
}
.hdg-mail {
	width: 128px;
	height: 128px;
}
.hdg-paperplane {
	width: 128px;
	height: 128px;
}
.hdg-settings {
	width: 128px;
	height: 128px;
}
.hdg-gear {
	width: 128px;
	height: 128px;
}
.hdg-network {
	width: 128px;
	height: 128px;
}
.hdg-like-thumbs-up {
	width: 128px;
	height: 128px;
}
.hdg-globe {
	width: 128px;
	height: 128px;
}
.hdg-bomb {
	width: 128px;
	height: 128px;
}
.hdg-lightning {
	width: 128px;
	height: 128px;
}
.hdg-picture {
	width: 128px;
	height: 128px;
}
.hdg-cloud {
	width: 128px;
	height: 128px;
}
.hdg-line-chart {
	width: 128px;
	height: 128px;
}
.hdg-briefcase {
	width: 128px;
	height: 128px;
}
.hdg-checklist-todo {
	width: 128px;
	height: 128px;
}
.hdg-folder {
	width: 128px;
	height: 128px;
}
.hdg-bookmark {
	width: 128px;
	height: 128px;
}
.hdg-savings {
	width: 128px;
	height: 128px;
}
.hdg-shopping-cart-ecommerce {
	width: 128px;
	height: 128px;
}
.hdg-gifts-giftbox {
	width: 128px;
	height: 128px;
}
.hdg-coffee {
	width: 128px;
	height: 128px;
}
.hdg-food-chicken-leg {
	width: 128px;
	height: 128px;
}
.hdg-food-apple {
	width: 128px;
	height: 128px;
}
.hdg-icecream {
	width: 128px;
	height: 128px;
}
.hdg-trumpet {
	width: 128px;
	height: 128px;
}
.hdg-pipe {
	width: 128px;
	height: 128px;
}
.hdg-diamond-ruby {
	width: 128px;
	height: 128px;
}
.hdg-face-robot {
	width: 128px;
	height: 128px;
}
.hdg-social-facebook {
	width: 128px;
	height: 128px;
}
.hdg-social-google-gplus {
	width: 128px;
	height: 128px;
}
.hdg-social-twitter-tweet-bird {
	width: 128px;
	height: 128px;
}
.hdg-social-dribbble {
	width: 128px;
	height: 128px;
}
.hdg-social-github-octocat {
	width: 128px;
	height: 128px;
}
